<link class="headjn" href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<div class="head"></div>

<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0"
    style="top: -100px;    transition: .5s;box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%) !important;
position: sticky; height: 80px;   display: flex;flex-wrap: wrap;align-items: center;justify-content: space-between;z-index: 1020;">
    <a style="color: rgba(0,0,0,0.9);text-align: center !important;    padding-top: 0 !important;
    padding-bottom: 0 !important;padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;align-items: center !important;    display: flex !important;    margin-right: 1rem;
    font-size: 1.25rem;
    white-space: nowrap; height: 75px;" href="index.html"
        class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
        <h1 class="m-0 text-primary" style="font-size: calc(1.375rem + 1.5vw);font-family: Inter,sans-serif;
                font-weight: 700;
                line-height: 1.2;">JobEntry</h1>
    </a>

    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" Style="display: none;">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="home" style="font-size: 18px;text-transform: uppercase;outline: none;"
                class="nav-item nav-link active">Home</a>
            <a href="about" style="font-size: 18px;text-transform: uppercase;outline: none;"
                class="nav-item nav-link">about</a>


            <a href="contact" style="font-size: 18px;text-transform: uppercase;outline: none;"
                class="nav-item nav-link">Contact</a>



        </div>

    </div>
</nav>
<img id="pic"
    src="https://images.pexels.com/photos/1181271/pexels-photo-1181271.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    style="width: 1365px; height: 648px; opacity: 65%; background-size: cover; " alt="LinkedIn pic">


<!--https://static.licdn.com/scds/common/u/images/apps/uas/photo_splash_signin_1141x759_v4.jpg-->



<div>

</div>


<div class="signin">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet'
        type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">


<h1>Sign Up to Jobentry <br></h1>
<h1>Choice Here</h1>

    <form action="/">
        <hr>
        <div class="accounttype">
            <input type="radio" value="None" id="radioOne" name="account" checked />
            <label (click)="  GoToUser()" for="radioOne" class="radio"
                style="color: rgb(0, 0, 0); font-weight: bold; font-size: 20px;">User</label>

            <input style="margin-right: 50px; " type="radio" value="None" id="radioTwo" name="account" />
            <label (click)="  GoTocomp()" for="radioTwo" class="radio"
                style="color: rgb(0, 0, 0); font-weight: bold; font-size: 20px;">Company</label>
        </div>
        <hr>


    </form>
</div>
<app-f></app-f>