<header>
    <div class="logo">

        <a href="index.html" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
            <h1 class="m-0 text-primary" style="font-size: 45px;"><b>JobEntry</b></h1>
        </a>
    </div>

    <div class="mainmenu">

        <div class="maincta">
            <button (click)="GoToLogin()" class="mainbtn" type="button"
                style="width: 150px; height: 35px; font-size: 25px;">join
                now</button>

        </div>
    </div>
</header>

<section class="hero">
    <div class="left-section">
        <h1>Welcome to your<br> <br>professional community</h1>

        <iframe width="460" height="215" src="https://www.youtube.com/embed/AcmKZrC89Mo" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <!---- <input type="text" name="input" placeholder="Email or phone number">
      <input type="password" name="pass" placeholder="Password">-->

        <input (click)="GoTohome()" style="font-size: 25px;" class="mainbtn" type="button" value="Lest Go">
    </div>
    <div class="right-section">

    </div>
</section>